@keyframes swoosh {
    30% {
        transform: translateX(-50px);
    }

    70% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes coming {
    0% {

        opacity: 0;

    }

    100% {
        opacity: 1;
        transform: translateX(70px);
    }


}

@keyframes spin {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

#loader {
    width: 50px;
    height: 50px;
    border: 5px solid #ddd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20% auto;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 40px;
    background-image: url(Images/cool-background.png);
    background-size: cover;


}

#sfondo {

    display: none;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    width: 80vw;

    background-color: rgb(255, 255, 255);
}

#allI {
    padding-top: 5vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    height: 70px;
    border-radius: 5px;
    background-color: white;
    text-align: center;


}

#innerHeader {

    text-align: center;
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Madimi One", sans-serif;



}

#indiceContainer {
    display: flex;
    flex-direction: column;

    width: 65vw;
    margin: 10px auto;
    background: linear-gradient(90deg, rgba(143, 159, 241, 1) 15%, rgba(2, 197, 237, 1) 95%);
    border-radius: 3px;
}

#indiceTitle {
    cursor: default;
    text-align: center;
    width: 130px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Dancing Script", cursive;
    rotate: 1.5deg;
    font-size: 50px;

}


.a {
    text-decoration: none;
    color: white;
}

#indiceBlocks {

    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 60vw;
    height: 420px;
    margin: 0 auto;

    font-family: "Boldonse", system-ui;
}

#indiceS {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#indiceG {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.indice {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.sopraIndice {
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    color: snow;
    width: 100%;
    background-color: black;
    height: 35px;
    letter-spacing: 2px;
}

.sottoIndice {
    width: 100%;
    background-size: contain;
    background-image: url(Images/download-_4_.png);
    height: 90px;
    border-radius: 0 0 5px 5px;
}

#materie {
    margin: 0 0;
    padding: 0 0;
}

#mtTecnologia {
    position: relative;
    z-index: 1;
    margin-top: 44vh;
    display: inline-block;

    margin-left: 2.1vw;

    width: 75vw;
    height: 44vh;

}



#mtTecno {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mtTecnoHeader {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;
    min-height: 10px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    background: #53914c;
    background: linear-gradient(241deg, rgba(83, 145, 76, 1) 40%, rgba(51, 74, 74, 1) 83%);
    font-size: x-large;
}

.dHeaderT {
   display: flex; 
   flex-direction: column;
   gap: 10px;
    text-align: center;
    width: 100%;
}

.tTitle{
    margin-top: 10px;
    background-color: rgb(85, 85, 85);
    border-radius: 25px;
}

.sottoArgomento {
    display: none;

    flex-direction: column;
    align-items: center;
}

.triangle {

    margin: 0;
    padding: 0;

    width: 0;
    height: 0;
    line-height: 0;
    border-bottom: 30px solid rgba(232, 71, 103, 0.747);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

}

.dHC {

    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 55vh;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}








#mtLet {

    margin-top: 41vh;
    background-image: url(download-_5fchatgpt.png);
    background-repeat: no-repeat;
    background-size: cover;

}

#letH {
    background-color: black;
    color: white;

    font-size: xx-large;
    text-align: center;
    margin-bottom: 10px;
}



#fLet {

    display: flex;
    justify-content: space-between;

}

#cerchio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -70px;
    border: 5px solid rgb(0, 68, 0);
    background-color: rgb(45, 136, 45);
    height: 800px;
    width: 450px;
    border-radius: 0 400px 400px 0;

}


#mtLetP {
    margin-left: 20px;
    display: inline-block;
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    font-family: 'Playwrite CU';
    font-size: 1.5em;
    max-width: 90%;
    text-align: center;
    border-radius: 5px;
}

#mtLetS {
    margin-left: 20px;
    display: inline-block;
    background-color: none;
    text-align: center;
    margin-top: 5px;
    text-decoration-line: underline;
}

#imgLet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(15px);


    margin: auto 100px;

}

.imgLet1 {
    background-image: url(Images/download-_4_.png);
    min-width: 500px;
    min-height: 350px;
    background-size: cover;

}


#mtSto {
    position: relative;
    margin-top: 41vh;
    background-image: url(Images/download-_5_\ \(1\).png);

    background-repeat: no-repeat;
    background-size: cover;

}



#hS {
    position: relative;
    display: flex;
    justify-content: center;
}

#hiS {
    text-align: center;



    position: relative;
    background-color: rgb(255, 255, 255);

    top: 50px;
    margin: 0 auto;
    border-radius: 5px;
}

#tSto {
    color: #53914c;
    font-size: 4em;
    font-family: "Madimi One", sans-serif;
}

#contSto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
    height: 81%;
}

.imgSto {
    width: 300px;
    height: 300px;
    background-size: contain;
    background-image: url(images/download-_4_.png);
}

.pSto {
    padding-top: 30px;
    display: flex;
    max-width: 40%;
    text-align: center;
   
}


#cOneS {

    display: flex;
    justify-content: space-evenly;
    min-height: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 800px 0 200px;
    max-width: 700px;
   gap: 40px;
}

#cTwoS {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 200px 0 800px;
    max-width: 700px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    margin-bottom: 20px;

}